body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 20px;
  background-color: #ECF5FF;
}

a {
  color: #00B7FF;
}

.app-header {
  background-color: #fff;
  min-width: 100%;
  height: 65px;
}
